{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script type="text/javascript" src="{% static 'js/googleplace.js' %}"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}&libraries=places&sensor=false&language=jp"></script>
        <title>Directions Service</title>
    </head>
    <body>
        <input type="text" id="textField"  />
    </body>
</html>